
  <div class="container">
    <div class="item">
        <h2>Mis Suscripciones</h2>
    </div>
    <div class="item">
      <div class="cont-subscripcion">
        <img src="placeholder.png" alt="Imagen de Suscripción">
        <div class="cont-info">
          <p class="title-subscripcion">Lucers Premium</p>
          <p class="desc">Incluye envíos gratis en todos tus productos del Mercado. Gracias por ser uno más de la Familia Lucers.</p>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="item">
      <div class="cont-price">
        <p class="price">$125.00 MXN / mes</p>
        <p class="price-sub">Se renueva el 25 de abril del 2025</p>
        <a href="#">Historial de pagos</a>
      </div>
    </div>

    <div class="line"></div>

    <div class="item">
      <div class="cont-metodo">
        <p class="title-metodo">Método de pago</p>
        <div class="cont-pay">
          <img class="icon-pay" src="assets/icon/MasterCard_Payment.png" alt="MasterCard Icono">
          <p> MasterCard que finaliza en 6064</p>
          <a href="#">Cambiar</a>
        </div>
        
        <p>Los cambios a este método de pago también se actualizan en todas las secciones de esta aplicación.</p>
      </div>
    </div>

    <nav>
      <div class="nav-item">
        <a href="#" class="nav-item">
          <img class="nav-icon" src="assets/icon/icon_home.png" alt="Inicio">
          <span>Inicio</span>
        </a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-item">
          <img class="nav-icon" src="assets/icon/icon_home.png" alt="Favoritos">
          <span>Favoritos</span>
        </a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-item">
          <img class="nav-icon" src="assets/icon/icon_home.png" alt="Suscripciones">
          <span>Suscripciones</span>
        </a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-item">
          <img class="nav-icon" src="assets/icon/icon_home.png" alt="Configuración">
          <span>Configuración</span>
      </a>
      </div>
    </nav>
  </div>

