html, body {
  height: 100%; /* Asegura que el HTML y el body ocupen toda la pantalla */
  margin: 0;
  padding: 0;
}

.container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.item-back {
  text-align: left;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

h2 {
  padding: 0%;
  margin: 0%;
}

.img-angle-left {
  width: 10px; /* O un tamaño específico */
  height: 30px; /* O un tamaño específico */
  object-fit: cover;
  padding: 0;
  margin: 0;
}

p {
 padding: 0%;
  margin: 0%;
}

.input-group{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin: 0%;
  padding: 0%;
  

}

.label{
  color:#000000;
  text-align: left;
}

.input {
  background-color: #FFFFFF;
  width: 100%;
  border: 1px solid #8C8C8C; /* Se añade un borde sólido */
  border-radius: 10px;
  height: 28px; /* Se ajusta la altura para mejor apariencia */
  padding: 10px; /* Se reduce el padding para evitar desbordamiento */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.text {
  text-align: center;
  color: #000000;
  font-weight: 500;
}

.icon-group {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button{
  color: #FFFFFF;
  background-color: #783BB5;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  height: 28px;
}

.cont {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.text-var {
  width: 100%;
  color: gray;
  text-align: center;
}

.icon {
  width: 56px;
  height: 56px;
}



