<div class="container">
  <div class="item-nav">
      <a href=""><img class="img-angle-left" src="assets/icon/SVG/angle-left.svg" alt=""></a>
      <h2>Información de donación</h2>
  </div>
    <div class="input-group">
      <label class="label" for="">Nombre(s)</label>
      <input class="input" type="text" placeholder="Ej. Carlos">
    </div>

    <div class="input-group">
      <label class="label" for="">Apellidos</label>
      <input class="input" type="text" placeholder="Ej. Serrano">
    </div>

    <div class="input-group">
      <label class="label" for="">Dirección</label>
      <input class="input" type="text" placeholder="Calle numero, colonia o fraccionamiento">
    </div>

    <div class="cont-locacion">
      <div class="input-group">
        <label class="label" for="">País</label>
        <input class="input" type="text" placeholder="Ej. México">
      </div>
  
      <div class="input-group">
        <label class="label" for="">Ciudad</label>
        <input class="input" type="text" placeholder="Ej. Durango">
      </div>
    </div>

    <div class="cont-tarjeta">
      <div class="input-group">
        <label class="label" for="">Número de tarjeta</label>
        <input class="input" type="text" placeholder="**** **** **** 1234">
      </div>
      <img class="icon-masterCard" src="assets/icon/PNG/MasterCard_Payment.png" alt="MasterCard">
    </div>
    
    <div class="cont-datoTarjeta">
      <div class="input-group">
        <label class="label" for="">Fecha de expiración</label>
        <input class="input" type="text" placeholder="12/25">
      </div>
  
      <div class="input-group">
        <label class="label" for="">CVV</label>
        <input class="input" type="text" placeholder="***">
      </div>
    </div>

    <div class="input-group checkbox-group">
      <input class="checkbox" type="checkbox">
      <label class="label-condiciones" for="">He leido y aceptado <a href="">Terminos </a>y <a href="">Políticas de privacidad</a></label>
    </div>
    <br>
    <div class="item">
      <p class="text-info">Tu donación ayuda a los que mas lo nesecitan. ¡Dona hoy!</p>
    </div>

    <div class="item">
      <button class="btn">Donar</button>
    </div>

    <div class="item">
      <p class="text-nota">Tu donación es deducible de impuestos</p>
    </div>
</div>
