<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donaciones</title>
</head>
<body>
    
    <div class="container">
        <h2>Donaciones</h2>
        <input class="input-serch" type="text" placeholder="Buscar en donaciones...">
        <div class="card">
            <img class="img" src="assets/img/AdultosMayores.jpg" alt="Imagen de donación">
            <div>
                <div class="cont">
                    <h5 class="title-event">Unidos por los adultos mayores</h5>
                    <div class="status">Vigente</div>
                </div>
                <p class="desc">Esto es una descripción de ejemplo de cómo se vería la descripción del evento de donación, esto debe ser un eslogan más corto.</p>
                <p class="date">Finaliza - 5 marzo del 2300</p>
            </div>
        </div>
        <div class="line"></div>
    </div>
</body>
</html>
