
    
    <div class="container">
        <div class="item-nav">
            <a href="home"><img class="img-angle-left" src="assets/icon/SVG/angle-left.svg" alt=""></a>
            <h2>Donaciones</h2>
        </div>
        <div class="item">
            <input class="input-serch" type="text" placeholder="Buscar en donaciones...">
        </div>
        <div class="item">
            <a class="card" href="info-donacion">
                <img class="img" src="assets/img/AdultosMayores.jpg" alt="Imagen de donación">
                <div>
                    <div class="cont">
                        <h5 class="title-event">Unidos por los adultos</h5>
                        <div class="status">Vigente</div>
                    </div>
                    <p class="desc">Esto es una descripción de ejemplo de cómo se vería la descripción del evento de donación, esto debe ser un eslogan más corto.</p>
                    <p class="date">Finaliza - 5 marzo del 2300</p>
                </div>
            </a>
        </div>
        <div class="item">
            <div class="line"></div>
        </div>
    </div>
